frontend/dist/
backend/dist/
frontend/src/.codemap/
frontend/dist.7z
auto-import.d.ts
auto-imports.d.ts
components.d.ts
dist/
CalcFlow.zip
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

log/**/*

web_dist/
web_dist.zip
web_dist.7z

upx/
